{% extends "base.html" %} {% load static %} {% block content %}
<div class="container p-5">
    <h1 class="text-center">OUT STATION BUS RENTALS</h1>
    <table class="table table-striped table-bordered" style="text-align: center;">
        <thead>
            <tr>
                <th scope="col">CLASS</th>
                <th scope="col">CAR NAME</th>
                <th scope="col">80 Km / 8 Hrs A/C</th>
                <th scope="col">PER EXTRA KM</th>
                <th scope="col">PER EXTRA HR</th>
                <th scope="col">NIGHT ALLOW</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            {% for car in object_list %}
            <tr>
                <th scope="row"><img src="{{ car.thumbnail.url }}" alt="" style="width: 240px;"></th>
                <td>{{ car.car_name }}</td>
                <td>{{ car.ac_rate }}</td>
                <td>{{ car.extra_person }}</td>
                <td>{{ car.extra_hr }}</td>
                <td>{{ car.night_allowance }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% for bus in bus_on %}
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, numquam dolore. Odit, eligendi deserunt. Magnam error quidem, distinctio dolorem minus non veritatis a, alias maiores, praesentium quibusdam illum rerum ut.</p>
{% endfor %} {% endblock content %}