{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}



<!-- ================ contact section start ================= -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">{{ title }}</h2>
            </div>
            <div class="col-lg-8">
                {% if confirm_message %} {{ confirm_message }} {% endif %} {% if form %}
                <form action="" method="POST">{% csrf_token %} {{ form|crispy}}
                    <input type="submit" value="submit form" class="btn btn-success">
                </form>
                {% endif %}
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>Maharashtra, Mumbai.</h3>
                        <p>Borivali (East)</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>986 7175 313</h3>
                        <p>Mon to Fri 9am to 6pm</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3>nitinshakpal@gmail.com</h3>
                        <p>Send us your query anytime!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->


{% endblock content %}