{% load static %}
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4 ">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Grantha Tours & Travells
                        </h3>
                        <div class="footer_logo">
                            <a href="{% url 'grantha:home' %}">
                                <img src="{% static 'img/logo-02.png' %}" alt="" style="width: 240px;">
                            </a>
                            <p class="mt-5">WE SPECIALIZE IN CUSTOMIZED & GROUP TOUR DOMESTIC PACKAGES. OUR SERVICES INCLUDE INBOUND AND INTERNATIONAL TOURS, BOOKINGS OF HOTELS AND TRANSPORTATION, ARRANGING SIGHTSEEING TOURS, BOOKING INTERNATIONAL AND DOMESTIC FLIGHTS
                                ETC…</p>
                        </div>


                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Quick Links
                        </h3>
                        <ul class="links double_links">
                            <li><a href="{% url 'grantha:home' %}">Home</a></li>
                            <li><a href="{% url 'grantha:about' %}">About</a></li>
                            <li><a href="{% url 'grantha:bus' %}"> Bus Rental</a></li>
                            <li><a href="{% url 'grantha:car' %}"> Car Rental</a></li>
                            <li><a href="{% url 'contact:contact' %}"> Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Get into Touch
                        </h3>
                        <p>26/189, Kuldeep Society, <br>Rajendra Nagar, <br> Borivali (East), Mumbai - 66 <br>
                            <a href="#">986 7175 313</a> <br>
                            <a href="#">nitinshakpal@gmail.com</a>
                        </p>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved | This template is made with Tridev Developers
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>